<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_1</key>
	<dict>
		<key>error_code</key>
		<string>60001</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_2</key>
	<dict>
		<key>error_code</key>
		<string>60002</string>
		<key>error</key>
		<string>没有可用的网络，检查下网络是否开启?</string>
	</dict>
	<key>error_3</key>
	<dict>
		<key>error_code</key>
		<string>60003</string>
		<key>error</key>
		<string>网络不给力呀，过会儿再试吧！</string>
	</dict>
	<key>error_4</key>
	<dict>
		<key>error_code</key>
		<string>60004</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_5</key>
	<dict>
		<key>error_code</key>
		<string>60005</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_6</key>
	<dict>
		<key>error_code</key>
		<string>60006</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_7</key>
	<dict>
		<key>error_code</key>
		<string>60007</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_8</key>
	<dict>
		<key>error_code</key>
		<string>60007</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_9</key>
	<dict>
		<key>error_code</key>
		<string>60008</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_10</key>
	<dict>
		<key>error_code</key>
		<string>60008</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_11</key>
	<dict>
		<key>error_code</key>
		<string>60009</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
	<key>error_12</key>
	<dict>
		<key>error_code</key>
		<string>60008</string>
		<key>error</key>
		<string>服务器不给力了，请稍后再试！</string>
	</dict>
</dict>
</plist>
